

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    color: #5A5A5A;
    line-height: 1.6;
}

p {
    margin: 0;
    padding: 0;
}

/* =============
    LAYOUT
===============*/

.container {
    width: 100%;
}

.header {
    min-height: 358px;

    background-image: url(../images/dark-ribs.jpg);
    background-position: center;
    background-size: cover;

    color: #F18119;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-bottom: 2em;
}

.header-title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
}

.main {
    text-align: center;
    max-width: 95%;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* =============
    TYPOGRAPHY
================*/

h1 {
    font-size: 2.25rem;
    color: #fff;
    font-weight: 300;
    line-height: 1.2;
}

h1 strong {
    font-weight: 900;
}

.header-title {
    margin: 2em 0;
}

.header-caption {
    display: inline-block;
    width: 18em;
    margin: 0 auto;
    font-size: .625rem;
    font-weight: 900;
    letter-spacing: 1.5px;
    color: #F18119;
    text-transform: uppercase;
    padding-top: .6em;
    border-top: 7px solid;
}

h2, .header-cta {
    font-weight: 900;
    font-size: 1.325em;
}

.header-cta {
    color: #F18119;
    text-transform: uppercase;
}

h2 {
    color: #404040;
    margin-top: 1.75em;
    margin-bottom: 0;
    line-height: 1;
}

.main-cta {
    font-size: 1rem;
    font-weight: 900;
    color: #F18119;
    text-transform: uppercase;
    margin-top: 0;
}

.main-text {
    font-weight: 300;
    margin-top: 1.5em;
}

.small {
    font-size: .625rem;
    color: #989898;
    margin-top: 1.3em;
    margin-bottom: 6em;
}

/* =============
    BUTTONS
================*/

.btn {
    margin-top: 1em;
    height: 2.5rem;
    width: 15.8rem;
    border: 1px solid #818181;
    border-radius: 7px;

    color: #404040;
    font-family: inherit;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
}

.btn:hover,
.btn:focus {
    border: #FF713B;
}

.btn-sumbit {
    background: linear-gradient(270deg, #FF713B 0%, #FFA51D 100%);
    font-size: .625rem;
    font-weight: 900;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
}

.btn.btn-submit:hover,
.btn.btn-submit:focus {
    border: none;
    background-color: #FFA51D;
}

/* =============
    MEDIA
================*/

@media (min-width: 750px) {
    body {
        font-size: 1.125rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    .container {
        display: flex;
        height: 100vh;
    }

    .header {
        width: 60%;
        justify-content: start;
    }

    .header-title-container {
        justify-content: start;
    }

    .header-title {
        margin-top: 3em;
        margin-bottom: 0;
    }

    .main {
        width: 40%;
        align-self: center;
    }

    .main-text {
        max-width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    

}