

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    color: #5A5A5A;
    line-height: 1.6;
}

p {
    margin: 0;
    padding: 0;
}

/* =============
    LAYOUT
===============*/

.container {
    width: 100%;
}

.header {
    min-height: 50vh;

    background-color: #404040;
    background-image: url(../images/ribs.jpg);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;

    color: #F18119;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0 .5em 2em;
}

.header-caption {
    order: -1;
}

.main {
    padding: 2em 1em;
    margin: 0 auto;
}

.header > *,
.main > * {
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
}

.main-form {
    width: 80%;
    max-width: 300px;
}

/* =============
    TYPOGRAPHY
================*/

h1 {
    font-size: 2.25rem;
    color: #fff;
    font-weight: 300;
    line-height: 1.2;
}

h1 strong {
    font-weight: 900;
}

.header-caption {
    display: inline-block;
    width: 18em;
    margin: 0 auto;
    font-size: .625rem;
    font-weight: 900;
    letter-spacing: 1.5px;
    color: #F18119;
    text-transform: uppercase;
    padding-top: .6em;
    border-top: 7px solid;
    border-image: linear-gradient(to left, #FF713B, #FFA51D) 1;
}

h2, .header-cta {
    font-weight: 900;
    font-size: 1.325em;
}

.header-cta {
    color: #F18119;
    text-transform: uppercase;
}

h2 {
    color: #404040;
    margin: 0;
    line-height: 1;
}

.main-cta {
    font-size: 1rem;
    font-weight: 900;
    color: #F18119;
    text-transform: uppercase;
    margin-top: 0;
}

.main-text {
    font-weight: 300;
    margin-top: 1.5em;
}

.small {
    font-size: .625rem;
    letter-spacing: 1px;
    color: #989898;
    margin-top: 1.3em;
}

/* =============
    FORM & BUTTONS
================*/

.btn {
    width: 100%;

    padding: .5em;
    margin-top: 1em;
    border: 1px solid #818181;
    border-radius: 7px;

    color: #404040;
    font-family: inherit;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;

    cursor: pointer;
    transform: scale(1);
    transition: 500ms;
}

.btn-sumbit {
    background-image: linear-gradient(to left, #FF713B, #FFA51D);
    
    font-size: .625rem;
    font-weight: 900;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    text-transform: uppercase;

    padding: 1em 1.5em;
    border: none;
}


.btn:hover,
.btn:focus {
    transform: scale(1.1);
} 

/* =============
    MEDIA
================*/

@media (min-width: 500px) {
    body {
        font-size: 1.125rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 1.75rem;
    }
}

@media (min-width: 700px) {

    .container {
        display: flex;
        min-height: 100vh;
    }

    .header {
        width: 60%;
        /* justify-content: space-between; */
    }

    .main {
        width: 40%;
        align-self: center;
    }

    .main-text {
        margin-left: auto;
        margin-right: auto;
    }

}